<!DOCTYPE html>
<html ng-app="app">

<head>
    <title>Angularjs Strong Password Directive</title>

    <link href="./node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./node_modules/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <script src="./node_modules/angular/angular.min.js"></script>

    <script src="./ng-password-validation/ng-password-validation.js"></script>

    <style>
        
        body {
            top: 0;
            left: 0;
            background: #eee;
        }

        form {
            padding-top: 25%;
        }

    </style>

</head>

<body class="container" ng-controller="TestController as vm">
    <div>
    <form class="form-horizontal" name="vm.form" novalidate>
        <password
            ng-model="vm.password"

            form = "vm.form"
            form-type="form-horizontal" 

            is-required = "true"

            password-label = "Password"
            password-placeholder = "Password"

            retype-password-label-visible = "true"
            retype-password-label = "Retype Password"
            retype-password-placeholder = "Retype Password"

            max-password-length = "12"

            allow-uppercase = "true"
            allow-lowercase = "true"
            allow-digit = "true"
            allow-special-character = "true"

            view-password = "true"
            is-password-valid = "vm.isPasswordValid"

            show-feedback = "true"
        ></password>
        
    </form>
</div>
</body>

<script>

    angular
        .module("app", ["ng-password-validation"])
        .controller("TestController", function($scope) {
            
            var vm = this;
            vm.specialCharactersPattern = new RegExp("[!@]");

        });

</script>

</html>