<style>

    .ng-password-validation-strike {
            color: lightgrey;
            text-decoration: line-through;
            transition: 0.3s;
        }

        .ng-password-validation-required-color {
            font-size: 1.7rem;
            color: red;
        }
    </style>

<!-- Form Horizontal Password -->

<!-- ng-class="{ 'has-success': vm.form.password.$touched == true && vm.showFeedback && vm.isPasswordValid == true, 'has-error': vm.form.password.$touched == true && vm.showFeedback && vm.isPasswordValid == false }" -->

<div class="form-group" ng-if="vm.formType == 'form-horizontal'">
    <label for="password" class="col-sm-2 control-label">{{vm.passwordLabel}} <span ng-if="vm.isRequired" class="ng-password-validation-required-color">*</span></label>
    <div class="col-sm-10">
        <div ng-class="{ 'input-group': vm.showPasswordIcon }">
            <input type="{{vm.passwordType}}" ng-required="{{vm.isRequired}}" class="form-control" id="password" name="password"
                ng-model="vm.passwordNgModel" placeholder="{{vm.passwordPlaceholder}}" ng-change="vm.comparePassword()">
            <span class="input-group-btn" ng-if="vm.showPasswordIcon">
                <button class="btn btn-default" type="button" ng-click="vm.changePasswordType()"><i class="glyphicon"
                        ng-class="{ 'glyphicon-eye-open': vm.passwordType == 'password', 'glyphicon-eye-close': vm.passwordType == 'text' }"></i></button>
            </span>
        </div>
    </div>
</div>
<div class="form-group" ng-if="vm.formType == 'form-horizontal'">
    <label for="retypePassword" class="col-sm-2 control-label">{{vm.retypePasswordLabel}}</label>
    <div class="col-sm-10">
        <div ng-class="{ 'input-group': vm.showPasswordIcon }">
            <input type="{{vm.passwordType}}" class="form-control" id="retypePassword" ng-model="vm.retypePasswordNgModel"
                placeholder="{{vm.retypePasswordPlaceholder}}" ng-change="vm.comparePassword()">
            <span class="input-group-btn" ng-if="vm.showPasswordIcon">
                <button class="btn btn-default" type="button" ng-click="vm.changePasswordType()"><i class="glyphicon"
                        ng-class="{ 'glyphicon-eye-open': vm.passwordType == 'password', 'glyphicon-eye-close': vm.passwordType == 'text' }"></i></button>
            </span>
        </div>
    </div>
</div>

<!-- Basic Password -->

<div class="form-group" ng-if="vm.formType == 'basic'">
    <label for="password">{{vm.passwordLabel}} <span ng-if="vm.isRequired" class="ng-password-validation-required-color">*</span></label>
    <div ng-class="{ 'input-group': vm.showPasswordIcon }">
        <input type="{{vm.passwordType}}" ng-required="{{vm.isRequired}}" class="form-control" id="password" ng-model="vm.passwordNgModel"
            placeholder="{{vm.passwordPlaceholder}}" ng-change="vm.comparePassword()">
        <span class="input-group-btn" ng-if="vm.showPasswordIcon">
            <button class="btn btn-default" type="button" ng-click="vm.changePasswordType()"><i class="glyphicon"
                    ng-class="{ 'glyphicon-eye-open': vm.passwordType == 'password', 'glyphicon-eye-close': vm.passwordType == 'text' }"></i></button>
        </span>
    </div>
</div>
<div class="form-group" ng-if="vm.formType == 'basic'">
    <label for="retypePassword">{{vm.retypePasswordLabel}}</label>
    <div ng-class="{ 'input-group': vm.showPasswordIcon }">
        <input type="{{vm.passwordType}}" class="form-control" id="retypePassword" ng-model="vm.retypePasswordNgModel"
            placeholder="{{vm.retypePasswordPlaceholder}}" ng-change="vm.comparePassword()">
        <span class="input-group-btn" ng-if="vm.showPasswordIcon">
            <button class="btn btn-default" type="button" ng-click="vm.changePasswordType()"><i class="glyphicon"
                    ng-class="{ 'glyphicon-eye-open': vm.passwordType == 'password', 'glyphicon-eye-close': vm.passwordType == 'text' }"></i></button>
        </span>
    </div>
</div>

<!-- Form Inline -->

<div class="form-group" ng-if="vm.formType == 'form-inline'">
    <label for="password">{{vm.passwordLabel}} <span ng-if="vm.isRequired" class="ng-password-validation-required-color">*</span></label>
    <div ng-class="{ 'input-group': vm.showPasswordIcon }">
        <input type="{{vm.passwordType}}" class="form-control" id="password" ng-model="vm.passwordNgModel" placeholder="{{vm.passwordPlaceholder}}"
            ng-change="vm.comparePassword()">
        <span class="input-group-btn" ng-if="vm.showPasswordIcon">
            <button class="btn btn-default" type="button" ng-click="vm.changePasswordType()"><i class="glyphicon"
                    ng-class="{ 'glyphicon-eye-open': vm.passwordType == 'password', 'glyphicon-eye-close': vm.passwordType == 'text' }"></i></button>
        </span>
    </div>
</div>
<div class="form-group" ng-if="vm.formType == 'form-inline'">
    <label for="retypePassword">{{vm.retypePasswordLabel}}</label>
    <div ng-class="{ 'input-group': vm.showPasswordIcon }">
        <input type="{{vm.passwordType}}" class="form-control" id="retypePassword" ng-model="vm.retypePasswordNgModel"
            placeholder="{{vm.retypePasswordPlaceholder}}" ng-change="vm.comparePassword()">
        <span class="input-group-btn" ng-if="vm.showPasswordIcon">
            <button class="btn btn-default" type="button" ng-click="vm.changePasswordType()"><i class="glyphicon"
                    ng-class="{ 'glyphicon-eye-open': vm.passwordType == 'password', 'glyphicon-eye-close': vm.passwordType == 'text' }"></i></button>
        </span>
    </div>
</div>

<!-- Validations -->

<div class="form-group">
    <div ng-class="{ 'col-md-offset-2': vm.formType == 'form-horizontal' }">
        <ul>
            <li ng-if="vm.showUppercase" ng-class="{ 'ng-password-validation-strike': vm.uppercaseValid }"><b>Minimum 1
                    uppercase character</b></li>
            <li ng-if="vm.showLowercase" ng-class="{ 'ng-password-validation-strike': vm.lowercaseValid }"><b>Minimum 1
                    lowercase character</b></li>
            <li ng-if="vm.showMinPasswordLength" ng-class="{ 'ng-password-validation-strike': vm.minPasswordLengthValid }"><b>Minimum
                    {{vm.minPasswordLength}} characters required</b></li>
            <li ng-if="vm.showMaxPasswordLength" ng-class="{ 'ng-password-validation-strike': vm.maxPasswordLengthValid }"><b>Maximum
                    {{vm.maxPasswordLength}} characters required</b></li>
            <li ng-if="vm.showSpecialCharacter" ng-class="{ 'ng-password-validation-strike': vm.specialCharacterValid }"><b>Minimum
                    1 special
                    character</b><span ng-if="vm.customSpecialCharactersSet == false"> (Note: Only ! @ # $ % ^ & *
                    allowed)</span></li>
            <li ng-if="vm.showDigit" ng-class="{ 'ng-password-validation-strike': vm.digitValid }"><b>Minimum 1 digit
                    required</b></li>
            <li ng-class="{ 'ng-password-validation-strike': vm.passwordMatchedValid }"><b>Both password mismatch</b></li>
        </ul>
    </div>
</div>